@import 'layout';
@import 'subject';
@import 'prep';

// общие стили

// главная страница

.main-page
{
	
	div[data-role="header"]
	{
		background: @dark-blue;
		color:#fff;
		text-shadow: none;
	    border-bottom-color: #333;

		.ui-icon-000
		{
			&:after
			{
				background-image: url("../../img/000.svg");
				background-color: #fff;
			}
		}
	}

	.ui-content
	{
	    background-color: #eee;
		.intro
		{
			background-color: #9fd7ee;
			margin:-1rem;
			margin-top: -1rem;
			text-shadow: none;
			margin-bottom: 1rem;
			img
			{
				width:100vw;
				position: relative;
				bottom: -5px;
				height:auto;
			}
			.btn-cont
			{
				margin: 0 auto;
				width: 200px;
				.ui-btn
				{
					margin: 0.5rem;
					border-radius: 6px;
					background-color: #334458;
					color: #fff;
					text-shadow: none;
					border: #333;

				}
			}
			

			p 
			{
				
				padding:1rem;
				//text-indent:0.5rem;
				font-family:"Roboto";
				&:nth-of-type(2)
				{
					padding-top:0;
					margin-top:-1rem;
				}
			}
			h2, h3
			{
				text-align:center;
			}
			h3
			{
				padding-top:1rem;
				margin-top:0;
			}

		}

		// список предметов
		p.short-desc { margin-top: 0.5rem;}
		h3.pre-col { margin-bottom: 0rem;}
		.extra-p
		{
			font-size: 0.9rem;
			font-family: Roboto, sans-serif;

			+ ul 
			{
			   padding-left: 1rem;

				li 
				{
					list-style-type: square;
				    padding-bottom: 0.5rem; 
				}
			}
		}
		.col-wrap
		{
			
			a.ui-collapsible-heading-toggle
			{
				color: #8c8c8c;
				font-weight: normal;
				font-size: 0.8rem;
			}
		}
		// контакты и карта
		.contacth3
		{padding-bottom: 1rem;}
		.contacts-map
		{
			background-color: #9fd7ee;
			font-family: Roboto, sans-serif;
			margin:-1rem;
			padding:1rem;
			text-shadow:none;
			ul 
			{
				padding-left:0;
				margin-top: 0;
				
				li 
				{
					line-height:2;
					a 
					{
						color:@dark-blue;
					}
				}


			}
			iframe
			{
				width: 100vw;
				margin: 0 -1rem;
			    margin-bottom: -1.3rem;
			}
		}
	}

	

}