//страница препода

.page-prep
{
	.post-header
	{
		height:250px;
		background-size: cover;
		margin:0 -1rem;
	    background-position: center center;
	    margin-top:-1rem;
	    position:relative;

	    .desc 
	    {
	    	color:#fff;
	    	position:absolute;
	    	padding:1rem;
	    }
	}
}