doctype html
html
	head
		title test
		link(rel="stylesheet" type="text/css" href="assets/build/css/index.css")
	body
		.wrap
			header
				img(src="assets/img/logo-fz.png")
				span.slogan Профессиональная <br>подготовка к ЦТ в Минске
				
				.address
					p г. Минск, ул.Машерова, 10
					p ст. м. "Площадь Победы"
					p 
						a.map(href="#") карта
					p Пишите нам:
				.tel
					p <span class="velcom"></span> +375 29 618 80 90
					p <span class="mts"></span> +375 33 617 80 90
					.social
						span.viber
						span.whatsapp
						span.vk
						span.insta
			.menu
				ul
					li
						a(href="#") О курсах
					li
						a(href="#") Репетиторы
					li
						a(href="#") Стоимость
					li
						a(href="#") Результаты
					li
						a(href="#") Отзывы
					li
						a(href="#") Контакты
			.shock
				.container
					img(src="assets/img/shock.png")
					.label
						p Хочешь максимально подготовиться к ЦТ?
						p НЕ ПАНИКУЙ!
						p Запишись на пробный бесплатный урок!
					a.try-button(href="#") Попробовать!
					.desc
						p Талантливые и современные репетиторы объединились вместе и готовы подготовить к ЦТ любого абитуриента. Основная ставка у нас идёт на развитие личности выпускников школ при строгом контроле знаний. Мы заметили, что на курсах с отсутствием контроля знаний - результаты учеников намного меньше. 

						p Поэтому решили совместить интересную подачу материала с постоянным мониторингом результатов наших учеников. При должном выполнении программы обучения - результаты у абитуриентов от 80 баллов гарантированы. Однако, процесс образования взаимен! Поэтому мы не обещаем золотых гор. Придётся поработать вместе!			





