|<?php require_once 'assets/src/Mobile_Detect.php'; $detect = new Mobile_Detect;?>
doctype html
html
	head
		title test
		link(rel="shortcut icon" href="favicon.ico")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		|<?php if ($detect->isMobile()) {
		|   echo '<style rel="critical-mobile">';
		|   echo file_get_contents('assets/build/css/mobile-header.css');
		|   echo '</style>';
		| } else {
		|   echo '<style rel="critical-desktop">';
		|   echo file_get_contents('assets/build/css/desktop-header.css');
		|   echo '</style>';
		| } ?>
		//link(rel="stylesheet" href="assets/build/css/index.css")

	body
		.wrap
			|<?php if ($detect->isMobile()): ?>
			include includes/mobile-header.pug
			|<?php else: ?>
			include includes/desktop-header.pug
			|<?php endif;?>

			.subjects.container
				.inner
					h2 Предметы, по которым мы готовим к ЦТ
					.table
						.row
							div
							div(style="background-color:#22B573") 
								p Биология
							div
							div(style="background-color:#01C6D9") 
								p История Беларуси
							div
							div(style="background-color:#C69C6D") 
								p Физика
							div
						.row
							div(style="background-color:#334458") 
								p Французский
							div
							div(style="background-color:#FFC18E")
								p Математика
							div
							div(style="background-color:#8CC63F")
								p Химия
							div
							div(style="background-color:#29ABE2")
								p География
						.row
							div
							div(style="background-color:#D74C35")
								p Белорусский
							div
							div(style="background-color:#4088AE")
								p Общество <br> ведение
							div
							div(style="background-color:#FBB03B")
								p Английский
							div
						.row
							div
							div
							div(style="background-color:#C7B299")
								p Немецкий
							div
							div(style="background-color:#B84B4B")
								p Русский
							div
							div
			.command.container
				.inner
					a(name="about")
					h2 Команда "Фабрики знаний" <br> это мы организовываем обучение
					picture
						source(
						type="image/webp" 
						data-srcset="assets/img/444.webp 900w, assets/img/444-300.webp 300w" )
						
						img.lazyload( data-srcset="assets/img/444.png 900w, assets/img/444-300.png 300w" )
			.smi.container
				.inner
					h2 Мы в СМИ
					.video
						.item
							iframe.lazyload(width="100%" height="350" data-src="https://www.youtube.com/embed/BasUW_LR_mo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
							p Подготовка к ЦТ в Фабрике знаний в эфире Беларусь-2
						.item
							iframe.lazyload(width="100%" height="350" data-src="https://www.youtube.com/embed/zYYmvE5R_4w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
							p Чем ЦТ-2017 будет отличаться от ЦТ предыдущих лет
						.item
							iframe.lazyload(width="100%" height="350" data-src="https://www.youtube.com/embed/gTA3yoQQXlc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
							p Репетиторство: панацея или высасывание денег?
						.item
							iframe.lazyload(width="100%" height="350" data-src="https://www.youtube.com/embed/1MFvOb8NJrg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
							p Эфир Еврорадио. Александр Луцевич: "Об итогах вступительной компании 2017 года"
			.steps.container
				.inner
					h2 Как стать нашим учеником
					img.lazyload(data-src="assets/img/steps.jpg")
					.timeline-wrapper
						ul.timeline
							li.timeline-event
								label.timeline-event-icon
								.timeline-event-copy
									p.timeline-event-thumbnail.step1 Шаг 1
									h4 Выбираете предметы <br>для обучения
							li.timeline-event
								label.timeline-event-icon
								.timeline-event-copy
									p.timeline-event-thumbnail.step2 Шаг 2
									h4 Ищете друзей, чтобы <br> записаться вместе <br>со скидкой
							li.timeline-event
								label.timeline-event-icon
								.timeline-event-copy
									p.timeline-event-thumbnail.step3 Шаг 3
									h4 Звоните нам или <br>оставляете заявку на <br>сайте
						ul.timeline
							li.timeline-event
								label.timeline-event-icon
								.timeline-event-copy
									p.timeline-event-thumbnail.step4 Шаг 4
									h4 Согласовываете <br>с менеджером<br> расписание занятий
							li.timeline-event
								label.timeline-event-icon
								.timeline-event-copy
									p.timeline-event-thumbnail.step5 Шаг 5
									h4 Посещаете первое <br>занятие БЕСПЛАТНО
							li.timeline-event
								label.timeline-event-icon
								.timeline-event-copy
									p.timeline-event-thumbnail.step6 Шаг 6
									h4 Если всё подошло, то <br>заключаете договор и <br>начинаете обучение
						ul.timeline
							li.timeline-event
								label.timeline-event-icon
								.timeline-event-copy
									p.timeline-event-thumbnail.step7 Шаг 7
									h4 Усердно выполняете <br>программу курсов
							li.timeline-event
								label.timeline-event-icon
								.timeline-event-copy
									p.timeline-event-thumbnail.step8 Шаг 8
									h4 Успешно сдаете ЦТ
							li.timeline-event
								label.timeline-event-icon
								.timeline-event-copy
									p.timeline-event-thumbnail.step9 Шаг 9
									h4 Пишите отзыв, чтобы к нам приходили ученики и уровень образования в Беларуси повышался :)

						
			.result.container
				.inner
					a(name="results")
					h2 В результате, вы получите
					ul
						li Высокие баллы на ЦТ
						li Качественное образование для дальнейшей учебы и жизни
						li Поступление в выбранный университет
					//img.lazyload(data-src="assets/img/345365.png")
					picture
						source(data-srcset="assets/img/345365.webp" type="image/webp")
						img.lazyload(data-src="assets/img/345365.png")
			.testimonials.container.lazyload(data-script="assets/src/js/swiper.min.js" data-link="assets/build/css/swiper.min.css")
				.inner
					a(name="testimonials")
					h2 Отзывы
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								img.lazyload(data-src='assets/img/testi-slider/160-160_0.jpg')
								p Алина Михальская
								p Всем доброго времени суток.

								p Занимаюсь в Фабрике знаний на курсах по математике второй месяц и очень довольна. Для меня это глоток позитива в рутинной подготовке к цт. Наш молодой преподаватель Мария Ивановна излагает материал в понятной нам форме,а главное,делает это в достаточно лёгкой и даже игровой форме. На курсах можно и посмеяться,и действительно пораскинуть мозгами. 

								p(style="padding-bottom: 1em;") Руководители очень приветливые и отзывчивые люди. Например Кирилл,который лично мне помог в переписке узнать все о ФЗ) В общем,фабрика знаний это то место,где вы действительно осознаете и прочувствуете,что наука и учеба это не наказание,а нечто реально интересное и не сложное,если разобраться и разложить все по полочкам
							.swiper-slide
								img.lazyload(data-src='assets/img/testi-slider/160-160_1.jpg')
								p Алексей Ластовский
								p Так получилось, что я немного запоздал с подготовкой к цт）и узнал как раз про курсы '' Фабрика знаний'' у них есть специально разработанная система по подготовки к цт за короткий срок обучения （3 месяца）и на самом деле преподаватели учат очень круто！

								p Все рассказывают и объясняют понятно и интересно）я занимаюсь по истории Беларуси, и я очень доволен своими результатами）курсы очень крутые！так что ребята, те кто хочет поступать и хочет быть уверен в своих хороших результатах, все сюда в фабрику знаний！
							.swiper-slide
								img.lazyload(data-src='assets/img/testi-slider/160-160_2.jpg')
								p Надежда Шейбак
								p Готовлюсь к цт по Истории Беларуси. Очень мудрый подход к подготовке, потому что материал не только излагают, но и требуют его знание. Подача очень живая, всегда интересно и конечно же юмор. А так же наш преподаватель не только отличный оратор и историк, но и очень умный и интересный человек. Спасибо Фабрике Знаний и руководителю.
							.swiper-slide
								img.lazyload(data-src='assets/img/testi-slider/160-160_3.jpg')
								p Илья Трусковский
								p Посещаю экспресс-курсы по истории и русскому языку. Преподаватели высоко квалифицированные специалисты, материал воспринимается отлично. Процесс обучения построен очень грамотно, доволен результатом!
							.swiper-slide
								img.lazyload(data-src='assets/img/testi-slider/160-160_4.jpg')
								p Янина Македон
								p Удивительно, как людям удалось создать столь благотворную обучению атмосферу в небольшой комнате в центре города. Сама о курсах узнала от подруг и ни разу не пожалела. Хожу на биологию, группа небольшая, что удобно, преподаватель восхитителен, что прекрасно. 

								p У меня большой упор идет на самоподготовку, но все расскажется, объясниться и уж точно не останется не понятым. Все очень хорошо, плодотворно и так, как нужно. К тому же и подкармливается чаем с печеньем. В общем, чувствую себя умнее и чуть счастливее каждый вторник и четверг.
							.swiper-slide
								img.lazyload(data-src='assets/img/testi-slider/160-160_5.jpg')
								p Дарья Воривончик
								p Добрый день.

								p Хожу на курсы в Фабрику Знаний с сентября,и моей радости нет предела) Преподаватели просто отличные, с ними очень легко найти общий язык. Занятия проходят всегда в очень уютной и комфортной атмосфере. Преподаватели всегда всё просто и понятно объясняют, но если вдруг возникают какие-то вопросы, их легко решить написав или сказав о них преподавателю. Советую всем, не пожалеете
							.swiper-slide
								img.lazyload(data-src='assets/img/testi-slider/160-160_6.jpg')
								p Анна Андреева
								p Хожу на курсы по русскому,математике и химии.

								p Преподаватели толково объясняют материал и умело находят подход к каждому. Юмор и понимание присутствуют на занятиях)

								p Конечно не могу не отметить,что молодой возраст играет большую роль в обучении. Молодые преподаватели с понимаем относятся к подаче своего предмета.

							.swiper-slide
								img.lazyload(data-src='assets/img/testi-slider/160-160_7.jpg')
								p Александр Стружко
								p Записался с марта на курсы ФЗ по обществоведению. Хочется сразу назвать яркие плюсы .Такие вещи, как четко намеченный курс , изложение всех деталей (мельчайших), чего в школьной программе не выделяют , к сожалению... немаловажно также то ,что мысли и "скользкие моменты " ,которые возникают у многих , всегда приветствуюся и готовы к обсуждению. 

								p Лёгкая и приятная атмосфера занятия ,которая совмещает в себе все ,что нужно для подачи материала .Остаётся только впитать в себя информацию. Александр ,наш преподаватель, отлично подаёт ту самую информацию ,кстати говоря ,запомнив полностью которую, любой абитуриент сможет застолбить себе место среди стобальников.

 
						.swiper-pagination
						.swiper-button-next
						.swiper-button-prev
			
			.why.container
				.inner
					h2 Почему мы?
					.wrapper
						.item
							img.lazyload(data-src="assets/img/why/001.svg")
							p Занятия в центре города (ст.м. "Пл.Победы")
						.item
							img.lazyload(data-src="assets/img/why/002.svg")
							p Баллы на ЦТ от 80 при выполнении программы
						.item
							img.lazyload(data-src="assets/img/why/003.svg")
							p Чай и кофе для восстановления сил	
						.item
							img.lazyload(data-src="assets/img/why/004.svg")
							p Честные цены	
						.item
							img.lazyload(data-src="assets/img/why/005.svg")
							p 652 выпускника с 2016 года
						.item
							img.lazyload(data-src="assets/img/why/006.svg")
							p Талантливые репетиторы
						.item
							img.lazyload(data-src="assets/img/why/007.svg")
							p Удобное расписание
					a.try-button(href="#") Заказать звонок
			.repetitors.container
				.inner
					a(name="team")
					h2 Наши основные репетиторы
					.items
						.item
							img.lazyload(data-src="assets/img/preps/001.jpg")
							.descr(data-link="http://ct.fzn.by/lutsevich.html")
								p Александр Сергеевич ЛУЦЕВИЧ
								p история Беларуси и обществоведение
						.item
							img.lazyload(data-src="assets/img/preps/002.jpg")
							.descr(data-link="http://ct.fzn.by/sergeeva.html")
								p Софья Геннадьевна ЛУЦЕВИЧ
								p русский язык и литература
						.item.reverse
							img.lazyload(data-src="assets/img/preps/003.jpg")
							.descr(data-link="http://ct.fzn.by/hodakovsky.html")
								p Владимир Сергеевич ХОДАКОВСКИЙ
								p химия <br> биология
						.item.reverse
							img.lazyload(data-src="assets/img/preps/004.jpg")
							.descr(data-link="http://ct.fzn.by/ivanova.html")
								p Полина Александровна ИВАНОВА
								p белорусский <br> язык
						.item
							img.lazyload(data-src="assets/img/preps/005.jpg")
							.descr(data-link="http://ct.fzn.by/loboda.html")
								p Мария Ивановна ЛОБОДА
								p математика
						.item
							img.lazyload(data-src="assets/img/preps/006.jpg")
							.descr(data-link="http://ct.fzn.by/lapko-svetlana.html")
								p Светлана Ивановна ЛАПКО
								p химия, физика
						.item.reverse
							img.lazyload(data-src="assets/img/preps/007.jpg")
							.descr(data-link="http://ct.fzn.by/shablinskaya.html")
								p Анна Ивановна ШАБЛИНСКАЯ
								p английский <br> язык
						.item.reverse
							img.lazyload(data-src="assets/img/preps/008.jpg")
							.descr(data-link="http://ct.fzn.by/lykashevich.html")
								p Вероника Витальевна ЛУКАШЕВИЧ
								p немецкий, <br> русский язык
						.item
							img.lazyload(data-src="assets/img/preps/009.jpg")
							.descr(data-link="http://ct.fzn.by/siniavskaya.html")
								p Ирина Александровная СИНЯВСКАЯ
								p русский язык
						.item
							img.lazyload(data-src="assets/img/preps/010.jpg")
							.descr(data-link="http://ct.fzn.by/olimpov.html")
								p Станислав Анатольевич ОЛИМПОВ
								p география
						.item.reverse
							img.lazyload(data-src="assets/img/preps/011.jpg")
							.descr(data-link="http://ct.fzn.by/selivonchik.html")
								p Наталья Александровна СЕЛИВОНЧИК
								p химия	
						.item.reverse
							img.lazyload(data-src="assets/img/preps/012.jpg")
							.descr(data-link="http://ct.fzn.by/lapko-igor.html")
								p Игорь Иванович ЛАПКО
								p математика
						.item
							img.lazyload(data-src="assets/img/preps/013.jpg")
							.descr(data-link="http://ct.fzn.by/giznevskaya.html")
								p Ангелина Андреевна ЖИЗНЕВСКАЯ
								p французский язык
			.price.container
				.inner
					a(name="price")
					h2 Стоимость курса
					h3 (за одно занятие 90 минут)
					.wrap
						.item
							.img-wrap
								img.lazyload(data-src="assets/img/book1.png")
							span.label 1 предмет
							span.price-wrap
								span.price(style="left: 20px;") 14 р.
						.item
							.img-wrap
								img.lazyload(data-src="assets/img/book2.png")
							span.label 2 предмета
							span.price-wrap
								span.price 13,3 р.
						.item
							.img-wrap
								img.lazyload(data-src="assets/img/book3.png")
							span.label 3-4 предмета
							span.price-wrap
								span.price(style="left: 20px;")  13 р.
				.label
					p 10% - скидка при одновременной записи вдвоем
			.faq.container
				.inner
					h2 Часто задаваемые вопросы
					.question-area
						ul
							li.q1.active Сколько длится <br> курс обучения?
							li.q2 Насколько эффективна подготовка?
							li.q3 Как у вас проходит контроль знаний в процессе обучения?
					.answer-area
						ul
							li.a1 Мы рекомендуем стандартный курс подготовки к ЦТ, который длится весь учебный год. Данный курс позволяет максимально подготовиться к тестам и поступить в выбранный университет.
							li.a2 Всё зависит от мотивации и целей. Мы не обещаем, что легко и без труда можно подготовиться к ЦТ, лишь посещая курсы. Однако если старательно выполняться все задания преподавателя, то мы гарантируем в результате обучения баллы 80+
							li.a3 Очень важно проводить мониторинг "роста" учеников. Наши репетиторы проводят диагностические тесты и тематические опросы. При отсутствии результатов - репетиторы заостряют внимание учеников и, в наиболее серьезных случаях, их родителей на сложившуюся ситуацию доя принятия мер.
							li.a4 Да, каждые 1,5 часа у нас есть кофе-паузы. Ученики могут отдохнуть, выпить чай/кофе и подкрепиться печеньем, чтобы с новыми силами продолжить обучение.
							li.a5 Подготовка к ЦТ проходит во второй половине будних дней, а также на протяжении выходных.
							li.a6 Обычно курс состоит из 2 занятий по 90 минут в неделю.
					.question-area
						ul
							li.q4 Есть ли у вас перерывы в течении занятий?
							li.q5 Когда проходят <br> занятия?
							li.q6 Сколько раз в неделю занятия?
			.form.container.lazyload(data-bg="assets/img/lead-bg-darken.jpg")
				.inner
					h2 Запишись на пробный урок
					form(method="post" action="assets/src/send.php" onsubmit="proba_form();return false")
						input(type="text" placeholder="Ваше имя" required="required" name="userName")
						input(type="text" placeholder="Ваш номер телефона" required="required" name="userPhone")
						p Выберите предмет:
						select.initialSelect
							option Русский язык
							option Биология
							option История Беларуси
							option Физика
							option Французский
							option Математика
							option Химия
							option География
							option Белорусский
							option Обществоведение
							option Английский
							option Немецкий
						a.add(href="#") +
						input(type="submit" value="Отправить")
						.result
			.map.container
				.map-inner.lazyload(data-script="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg0zBibsnBJ924LAMLUZgiu2o7N-LaDSY&callback=initMap")
				.map-label
						.wrap
							a(name="contacts")
							h3 Фабрика знаний
							ul
								li <b>Адрес:</b> прт. Машерова, 10, оф. 302-304
								li <b>Время работы:</b> каждый день, с 10:00 до 20:00
								li <b>Почта:</b> podgotovka.ct@gmail.com
								li <b>Телефон:</b> +375 29 618 80 90
								li <b style="color:white">Телефон:</b> +375 33 617 80 90
			.footer.container
				.inner
					.wrap
						img.logo(src="assets/img/logo-fz.png")
						p Профессиональная подготовка <br>к ЦТ в Минске
						div
							p podgotovka.ct@gmail.com
							p
								a(href="#") Публичный договор
						div.tells
							p +375 29 618 80 90
							p +375 33 617 80 90
						div.addr
							p Время работы: 9.00-20.00
							p.week
								span пн
								span вт
								span ср
								span чт
								span пт
								span сб
								span вс
							p.small г. Минск, проспект Машерова, 10, 3 этаж, кабинеты 302-304 станция метро "Площадь Победы"
					p.credit 2018 "Фабрика Знаний". 
					p.credit Частное унитарное предприятие по оказанию услуг "Фэктори-зет". Зарегистрировано 14 июля 2014 года Минским горисполкомом
			.modal-area
				.map-modal
					.modal-container
						span.close(title="закрыть окно") &times;
						.map-container
				
				// кнопка записаться в верхней части лендинга
				.zapis-modal
					.modal-container
						.modal-header
							span.close(title="закрыть окно") &times;
							span.title Пробное занятие
						.modal-content
							p Чтобы записаться на <b>БЕСПЛАТНОЕ</b> пробное занятие, пожалуйста, оставьте, свой номер телефона и мы вам перезвоним
							form(method="post" action="assets/src/send.php" onsubmit="zapis_modal();return false")
								input(type="text" placeholder="+375 29 000 00 00" required="required" name="ori")
								select
									option Русский язык
									option Биология
									option История Беларуси
									option Физика
									option Французский
									option Математика
									option Химия
									option География
									option Белорусский
									option Обществоведение
									option Английский
									option Немецкий
								input(type="submit" value="Отправить")
				// кнопка заказать обратный звонок					
				.zakaz-modal
					.modal-container
						.modal-header
							span.close(title="закрыть окно") &times;
							span.title Заказ обратного звонка
						.modal-content
							p Пожалуйста, оставьте, свой номер телефона и мы вам перезвоним
							form(method="post" action="assets/src/send.php" onsubmit="zakaz_modal(); return false")
								input(type="text" placeholder="+375 29 000 00 00" required="required" name="phone")
								input(type="submit" value="Отправить")

							








		.script-area
			script(src="assets/src/js/lazysizes.min.js" defer async)
			script(src="assets/src/js/ls.unveilhooks.min.js" defer async)
			script(src="assets/src/js/custom.js" defer async)