doctype html
html
	head
		title test
		link(rel="stylesheet" type="text/css" href="assets/build/css/index.css")
	body
		.wrap
			header
				img(src="assets/img/logo-fz.png")
				span.slogan Профессиональная <br>подготовка к ЦТ в Минске
				
				.address
					p г. Минск, ул.Машерова, 10
					p ст. м. "Площадь Победы"
					p 
						a.map(href="#") карта
					p Пишите нам:
				.tel
					p <span class="velcom"></span> +375 29 618 80 90
					p <span class="mts"></span> +375 33 617 80 90
					.social
						span.viber
						span.whatsapp
						span.vk
						span.insta
			.menu
				ul
					li
						a(href="#") О курсах
					li
						a(href="#") Репетиторы
					li
						a(href="#") Стоимость
					li
						a(href="#") Результаты
					li
						a(href="#") Отзывы
					li
						a(href="#") Контакты
			.shock.container
				.inner
					img(src="assets/img/shock.png")
					.label
						p Хочешь максимально подготовиться к ЦТ?
						p НЕ ПАНИКУЙ!
						p Запишись на пробный бесплатный урок!
					a.try-button(href="#") Попробовать!
					.desc
						p Талантливые и современные репетиторы объединились вместе и готовы подготовить к ЦТ любого абитуриента. Основная ставка у нас идёт на развитие личности выпускников школ при строгом контроле знаний. Мы заметили, что на курсах с отсутствием контроля знаний - результаты учеников намного меньше. 

						p Поэтому решили совместить интересную подачу материала с постоянным мониторингом результатов наших учеников. При должном выполнении программы обучения - результаты у абитуриентов от 80 баллов гарантированы. Однако, процесс образования взаимен! Поэтому мы не обещаем золотых гор. Придётся поработать вместе!
			.subjects.container
				.inner
					h2 Предметы, по которым мы готовим к ЦТ
					table
						tr
							td 
							td(style="background-color:#22B573") Биология
							td
							td(style="background-color:#01C6D9") История Беларуси
							td
							td(style="background-color:#C69C6D") Физика
							td
						tr
							td(style="background-color:#334458") Французский
							td
							td(style="background-color:#FFC18E") Математика
							td
							td(style="background-color:#8CC63F") Химия
							td
							td(style="background-color:#29ABE2") География
						tr
							td
							td(style="background-color:#D74C35") Белорусский
							td
							td(style="background-color:#4088AE") Обществоведение
							td 
							td(style="background-color:#FBB03B") Английский
							td
						tr
							td
							td
							td(style="background-color:#C7B299") Немецкий
							td
							td(style="background-color:#B84B4B") Русский
							td
							td
			.command.container
				.inner
					h2 Команда "Фабрики знаний" <br> это мы организовываем обучение
					img.lazyload(data-src="assets/img/444.png")
			.smi.container
				.inner
					h2 Сми о нас
					.video
						.item
							iframe(width="100%" height="350" src="https://www.youtube.com/embed/so38SPgaT5E?start=1210" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
							p Беларусь-2. Александр Луцевич: "Что выбрать - факультативы, репетиторов или курсы подготовки к ЦТ?"
						.item
							iframe(width="100%" height="350" src="https://www.youtube.com/embed/lUJUwSzkzc8?start=831" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
							p Беларусь-2. Александр Луцевич: "В защиту абитуриентов"
						.item
							iframe(width="100%" height="350" src="https://www.youtube.com/embed/f7W9v5x9T2s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
							p Эфир Еврорадио. Александр Луцевич: "Об итогах 2016-2017 учебного года"
						.item
							iframe(width="100%" height="350" src="https://www.youtube.com/embed/1MFvOb8NJrg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
							p Эфир Еврорадио. Александр Луцевич: "Об итогах вступительной компании 2017 года"
			.steps.container
				.inner
					h2 Как стать нашим учеником
					table
						tr
							td.step1
								.arrow
							td
						tr
							td
							td 02
						tr
							td 03
							td
		

		.script-area
			script(src="assets/src/js/lazysizes.min.js" defer async)




