header
	.nav-bar
		img.logo(src="assets/img/32-32.png")
		span.brand <span class="blue">Ф</span>абрика <span class="blue">З</span>наний
		span#nav-icon3
			span
			span
			span
			span
.shock
	img(src="assets/img/shock-9.jpg")
	.label
		p Хочешь максимально подготовиться к ЦТ?
		h2 Не паникуй!
		p Запишись на пробный бесплатный урок
	.button.try-button
		a(href="#") <span class="blue">З</span>аписаться
	.desc
		p Талантливые и современные репетиторы объединились вместе и готовы подготовить к ЦТ любого абитуриента. Основная ставка у нас идёт на развитие личности выпускников школ при строгом контроле знаний. Мы заметили, что на курсах с отсутствием контроля знаний - результаты учеников намного меньше. 

		p Поэтому решили совместить интересную подачу материала с постоянным мониторингом результатов наших учеников. При должном выполнении программы обучения - результаты у абитуриентов от 80 баллов гарантированы. Однако, процесс образования взаимен! Поэтому мы не обещаем золотых гор. Придётся поработать вместе!
.drawer
	.top.lazyload(data-bg="assets/img/400-400.jpg")
		.area
			p.name Фабрика Знаний
			p.slogan Подготовка к ЦТ в Минске
			a.tel(href="tel:+375296188090" onclick="yaCounter50071654.reachGoal('phone_call'); return true;") +375 29 618 80 90
			a.tel(href="tel:+375336178090" onclick="yaCounter50071654.reachGoal('phone_call'); return true;") +375 33 617 80 90
	.menu
		ul
			li
				a(href="#about") О курсах
			li
				a(href="#team") Репетиторы
			li
				a(href="#price") Стоимость
			li
				a(href="#results") Результаты
			li
				a(href="#testimonials") Отзывы
			li
				a(href="#contacts") Контакты	


.veil