div(data-role="page" id="bio")
	div(data-role="header")
		h1 ЦТ по Биологии
		a.ui-btn.ui-icon-arrow-l.ui-btn-icon-notext.ui-corner-all.ui-btn-left(href="/jqm/" data-rel="back" data-direction="reverse")
	div.ui-content(role="main")
		p Подготовка к ЦТ по Биологии
	div(data-role="footer")
		h4 bio footer