.inner-footer
	svg(viewBox="0 0 500 150" 
	preserveAspectRatio="none")
		path(d="M0.85,21.20 C216.98,67.59 273.98,67.59 499.72,22.20 L500.00,0.00 L0.00,0.00 Z")
	img.lazyload(data-src="/jqm/assets/img/log+text.svg")
	p Профессиональная подготовка к ЦТ в Минске
	ul
		li podgotovka.ct@gmail.com
		li: a(href="tel:+375296188090") +375 29 618 80 90
		li: a(href="tel:+375336178090") +375 33 617 80 90
	p г. Минск, проспект Машерова, 10, 3 этаж, кабинеты 302-304 станция метро "Площадь Победы"
	
	.small
		p 2018 "Фабрика Знаний".

		p Частное унитарное предприятие по оказанию услуг "Фэктори-зет". Зарегистрировано 14 июля 2014 года Минским горисполкомом.

div(data-role="footer" data-position="fixed")
	div(data-role="navbar" )
		ul
			li
				a.ui-nodisc-icon.ui-alt-icon(href="/jqm/#subjects" data-icon="grid" data-ajax="false") Все курсы
			li
				a.ui-nodisc-icon.ui-alt-icon(href="/jqm/#schedule" data-ajax="false" data-icon="calendar") Расписание
			li
				a.ui-nodisc-icon.ui-alt-icon(href="#inner-shock" 
				data-rel="popup" data-position-to="window" data-icon="mail") Пробное



div.scripts
	script(src="/jqm/assets/src/js/custom.js" async defer)
	script(src="/jqm/dist/js/lazysizes.min.js" async defer)
	script(src="/jqm/dist/js/ls.unveilhooks.js" async defer)