ul(data-role="listview" data-split-icon="gear" data-split-theme="a" data-inset="true")
	li
		a(href="#" data-transition="slide")
			img.lazyload(data-src="assets/img/preps/01.jpg")
			h2 Александр Сергеевич ЛУЦЕВИЧ
			p История Беларуси и обществоведение
	li
		a(href="#")
			img.lazyload(data-src="assets/img/preps/02.jpg")
			h2 Софья Геннадьевна ЛУЦЕВИЧ
			p русский язык и литература
	li
		a(href="#")
			img.lazyload(data-src="assets/img/preps/03.jpg")
			h2 Владимир Сергеевич ХОДАКОВСКИЙ
			p химия, биология
	li
		a(href="#")
			img.lazyload(data-src="assets/img/preps/04.jpg")
			h2 Полина Александровна ИВАНОВА
			p белорусский язык
	li
		a(href="#")
			img.lazyload(data-src="assets/img/preps/05.jpg")
			h2 Мария Ивановна ЛОБОДА
			p математика
	li
		a(href="#")
			img.lazyload(data-src="assets/img/preps/06.jpg")
			h2 Светлана Ивановна ЛАПКО
			p химия, физика
	li
		a(href="#")
			img.lazyload(data-src="assets/img/preps/07.jpg")
			h2 Анна Ивановна ШАБЛИНСКАЯ
			p английский язык
	li
		a(href="#")
			img.lazyload(data-src="assets/img/preps/08.jpg")
			h2 Вероника Витальевна ЛУКАШЕВИЧ
			p немецкий, русский язык
	li
		a(href="#")
			img.lazyload(data-src="assets/img/preps/09.jpg")
			h2 Ирина Александровна СИНЯВСКАЯ
			p белорусский язык
	li
		a(href="#")
			img.lazyload(data-src="assets/img/preps/010.jpg")
			h2 Станислав Анатольевич ОЛИМПОВ
			p география
	li
		a(href="#")
			img.lazyload(data-src="assets/img/preps/011.jpg")
			h2 Наталья Александровна СЕЛИВОНЧИК
			p химия
	li
		a(href="#")
			img.lazyload(data-src="assets/img/preps/012.jpg")
			h2 Игорь Иванович ЛАПКО
			p математика
	li
		a(href="#")
			img.lazyload(data-src="assets/img/preps/013.jpg")
			h2 Ангелина Андреевна ЖИЗНЕВСКАЯ
			p французский язык