table.ui-responsive.table-stroke(
data-role="table" 
id="table-column-toggle" 
data-mode="columntoggle"
data-column-btn-text="Настройка столбцов.."
)
	thead
		tr
			th Дата
			th(data-priority="2") День
			th(data-priority="3") Время 
			th(data-priority="1") Предмет 
			th(data-priority="4") Препод
	tbody
		tr
			td 12.12.2018
			td ср
			td 16.30-18.00
			td Обществоведение
			td Луцевич А.С.
		tr
			td 12.12.2018
			td ср
			td 18.00-19.30
			td Биология
			td Ходаковский В.А.
		tr
			td 12.12.2018
			td ср
			td 19.30-21.00
			td Обществоведение <b>ОНЛАЙН</b>
			td Луцевич А.С.
		tr
			td 13.12.2018
			td чт
			td 16.30-18.00
			td Английский язык
			td Шаблинская А.И.
		tr
			td 13.12.2018
			td чт
			td 18.00-19.30
			td Английский язык
			td Шаблинская А.И.
		tr
			td 14.12.2018
			td пт
			td 16.30-18.00
			td Обществоведение
			td Луцевич А.С.
		tr
			td 14.12.2018
			td пт
			td 19.30-21.00
			td Математика
			td Лобода М.И.
		tr
			td 14.12.2018
			td пт
			td 19.00-20.30
			td Русский язык <b>ОНЛАЙН</b>
			td Луцевич С.Г.
		tr
			td 15.12.2018
			td сб
			td 09.00-10.30
			td Французский язык
			td Жизневская А.А.	
		tr
			td 15.12.2018
			td сб
			td 13.30-15.00
			td Русский язык
			td Луцевич С.Г.	
		tr
			td 15.12.2018
			td сб
			td 15.00-16.30
			td Обществоведение
			td Луцевич А.С.	
		tr
			td 15.12.2018
			td сб
			td 16.30-18.00
			td Русский язык
			td Луцевич С.Г.
		tr
			td 15.12.2018
			td сб
			td 18.00-19.30
			td Физика
			td Лапко С.И.
		tr
			td 16.12.2018
			td вс
			td 09.00-10.30
			td Химия
			td Ходаковский В.А.
		tr
			td 16.12.2018
			td вс
			td 10.30-12.00
			td Математика
			td Лобода М.И.
		tr
			td 16.12.2018
			td вс
			td 12.00-13.30
			td Английский язык
			td Шаблинская А.И.
		tr
			td 16.12.2018
			td вс
			td 12.00-13.30
			td Белорусский язык
			td Сазанович Е.А.
		tr
			td 17.12.2018
			td пн
			td 15.00-16.30
			td История Беларуси <b>ОНЛАЙН</b>
			td Луцевич А.С.
		tr
			td 17.12.2018
			td пн
			td 16.30-18.00
			td История Беларуси
			td Луцевич А.С.
		tr
			td 17.12.2018
			td пн
			td 16.30-18.00
			td Русский язык
			td Синявская И.А.
		tr
			td 18.12.2018
			td вт
			td 16.30-18.00
			td Английский язык
			td Шаблинская А.И.
		tr
			td 18.12.2018
			td вт
			td 19.30-21.00
			td Русский язык
			td Луцевич С.Г.