ul(data-role="listview" 
data-split-icon="gear" 
data-split-theme="a" 
data-inset="true")
	li
		a(href="#bio" data-transition="slide")
			img.lazyload(data-src="assets/img/80-80_1.jpg")
			h2 Биология
			p Ср 18.00 - 19.30
	li
		a(href="#")
			img.lazyload(data-src="assets/img/80-80_2.jpg")
			h2 Русский язык
			p Сб 13.30 - 15.00